

/* Start:/bitrix/components/test/geoip/templates/.default/css/styles.css?1552559307287*/
.form-group {
 position: relative;
 padding-top: 1.5rem;
}

label {
 position: absolute;
 top: 0;
 font-size: var(--font-size-small);
 opacity: 1;
 transform: translateY(0);
 transition: all 0.2s ease-out;
}

input:placeholder-shown + label {
 opacity: 0;
 transform: translateY(1rem);
}
/* End */
/* /bitrix/components/test/geoip/templates/.default/css/styles.css?1552559307287 */
