

/* Start:/bitrix/components/test/geoip/templates/.default/css/styles.css?15525598971159*/
.form-group {
 position: relative;
 padding-top: 1.5rem;
}

label {
 position: absolute;
 top: 0;
 font-size: var(--font-size-small);
 opacity: 1;
 transform: translateY(0);
 transition: all 0.2s ease-out;
}

input:placeholder-shown + label {
 opacity: 0;
 transform: translateY(1rem);
}
.geoip__button {
	padding: 8px 22px;
	height: 30px;
  	border-top: 1px solid #98CCE7;
  	border-bottom: 1px solid #7DB0CC;
  	border-left: 1px solid #8CBFD9;
  	border-right: 1px solid #8CBFD9;
  	border-radius: 15px;
	color: #FFF;
  	font: bold 13px Arial, Tahoma, sans-serif;
	box-shadow: inset 0 1px #D4EBF7, 0 1px 3px #B8BEBE;
	background: -moz-linear-gradient(top,  #badff3 0%, #7acbed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#badff3), color-stop(100%,#7acbed));
	background: -webkit-linear-gradient(top,  #badff3 0%,#7acbed 100%);
	background: -o-linear-gradient(top,  #badff3 0%,#7acbed 100%);
	background: -ms-linear-gradient(top,  #badff3 0%,#7acbed 100%);
	background: linear-gradient(top,  #badff3 0%,#7acbed 100%);
	background-color: #9FD7F0;
	cursor: pointer;
	text-shadow: 0 -1px rgba(0,0,0,0.15);
	outline: none;
}
/* End */
/* /bitrix/components/test/geoip/templates/.default/css/styles.css?15525598971159 */
