

/* Start:/bitrix/components/test/geoip/templates/.default/css/styles.css?1552559710692*/
.form-group {
 position: relative;
 padding-top: 1.5rem;
}

label {
 position: absolute;
 top: 0;
 font-size: var(--font-size-small);
 opacity: 1;
 transform: translateY(0);
 transition: all 0.2s ease-out;
}

input:placeholder-shown + label {
 opacity: 0;
 transform: translateY(1rem);
}

.submit-block {
  padding: 10px 20px 20px;  
  background: repeating-linear-gradient(-30deg, #291810, #291810 8px, #FAAB1B 10px, #FAAB1B 14px);
  text-align: center;
  cursor: pointer;
}
.submit-button {
  display: inline-block;
  padding: 5px 10px;
  background: #FAAB1B;
}
.submit-button input {
  padding: 0;
  background: #FAAB1B;
  border-width: 0;
  text-transform: uppercase;
  cursor: pointer;
}
/* End */
/* /bitrix/components/test/geoip/templates/.default/css/styles.css?1552559710692 */
